<!DOCTYPE html>
<html>
  <head>
    <title>plasmiq</title>
    <%= stylesheet_link_tag "goodbye" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <meta encoding="UTF-8"/>
  </head>
  <body>
    <table id="goodbye">
      <tbody>
        <tr>
          <td>
            Goodbye
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
