<article>
  <h1>Who and what is Plasmiq?</h1>
  <%= image_tag "plasmiq.png" %>
  <p class="intro">
    <span class="quote">&ldquo;</span>
    Life, work, and play saturate in real and virtual.<br/>
    Mind and body fuse with realities and dreams.<br/>
    Organisms &amp; environments continually connect.
  </p>
  <p>Plasmiq builds apps, extensions and techniques across emergent marketplaces, where data, information, content and experience are empowered as creative utilisations and explorations of interplay and ambience between organisms and environments.</p>
  <p>You can get in touch with us by tweeting or DMing to <a href="http://twitter.com/plasmiq/">@plasmiq</a></p>
</article>
<aside>
  <a class="twitter-timeline"  href="https://twitter.com/plasmiq" data-widget-id="290521949514366976">Tweets by @plasmiq</a>
</aside>