<article>
  <h1>Project Changelogs</h1>
  <p>Stay up to date with what's been happening and changes we've made on Plasmiq projects.</p>
</article>
<aside>
  <h3>Changelog mailing list</h3>
  <p>Comming soon</p>
</aside>