<% content_for :body_class, "changelog" %>

<article>
  <h1>Project Changelogs</h1>
  <p>Stay up to date with what's been happening and changes we've made on Plasmiq projects.</p>
  <h2>Timezoneslider</h2>
  <p>
    <span class="date">2013-04-22</span>
    <span>You can now travel through time backward and forward.</span>
  </p>
  <h2>Flowformer</h2>
  <p>
    <span class="date">2013-12-18</span>
    <span>New layout based on Freedom</span>
    <span class="date">2013-04-22</span>
    <span>New screen: Task History</span>
    <span class="date">2013-01-13</span>
    <span>Tasks are finished with the end of a day.</span>
  </p>
</article>
<aside>
  <h3>Changelog mailing list</h3>
  <p>Coming soon</p>
</aside>