<article>
  <h1>Projects we are building</h1>
  <p>Our projects are open source and we value your contribution and collaboration towards making more useful apps, extenstions and techniques for everyone else to build upon.</p>
  <%= render "project",
    name: "timezoneslider",
    summary: "Sync around the world when everyone's color align",
    description: "A free time tool to help you coordinate and visualize your fiends' availability.",
    link: "http://timezoneslider.com",
    github_link: "https://github.com/plasmiq/timezoneslider" %>
  <%= render "project",
    name: "flowformer",
    summary: "What one thing will form your focus until tomorrow?",
    description: "A free focus tool to help you get one thing done or not done each day.",
    link: "http://flowformer.com",
    github_link: "https://github.com/plasmiq/flowformer" %>
  <section class="project">
    <h2>Comming soon ...</h2>
    <p class="summary">More projects will be listed here as we build and launch them.</p>
  </section>
</article>
<aside>
  <a class="twitter-timeline"  href="https://twitter.com/plasmiq" data-widget-id="290521949514366976">Tweets by @plasmiq</a>
</aside>