.pq-content {
  min-width: 960px;
}

.pq-content:before,
.pq-content:after {
    content:"";
    display:table;
}
.pq-content:after {
    clear:both;
}

.pq-content {
  a.pq.pq-button-inline {
    border-bottom: 0px;
    color: whote;
    &:hover, &:visited {
      color: white;
    }
  }

}

.pq-color-x {
  background: #1A9E64; /* Old browsers */
  background: -moz-linear-gradient(top, #1A9E64 0%, #01854B 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1A9E64), color-stop(100%,#01854B)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1A9E64 0%,#01854B 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1A9E64 0%,#01854B 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1A9E64 0%,#01854B 100%); /* IE10+ */
  background: linear-gradient(to bottom, #1A9E64 0%,#01854B 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A9E64', endColorstr='#01854B',GradientType=0 ); /* IE6-9 */
}